@import '../../assets/variables';

.chat-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
  height: 72px;
  min-height: 60px;
  padding: 8px 12px;
  overflow: hidden;
  border-radius: 30px 16px 16px 30px;
  cursor: pointer;

  @include shadow-inside;

  &--current {
    background: $light-grey-color;
    cursor: default;
  }

  &:hover {
    @include shadow-small-hovered;
  }
  
  &__avatar {
    flex-shrink: 0;
    align-self: center;
    width: 40px;
    height: 40px;
    background: $middle-beige-color;
    border-radius: 50%;
    object-fit: contain;

    @include shadow-small;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 56px;
    overflow: hidden;
  }

  &__name {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }

  &__message {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    text-overflow: ellipsis;
  }
}
