<div 
  class="chat-item{{#if current}} chat-item__block--current{{/if}}" id="{{id}}">
  {{#if avatar}}
  <img 
    class="chat-item__avatar" 
    src="/assets/avatar.png"
    alt="User avatar" />
  {{else }}
  <img 
    class="chat-item__avatar" 
    src="/assets/no-avatar-icon.png"
    alt="Icon with question sign for users withour avatar pictures"/>
  {{/if}}
  <div class="chat-item__text-block">
    <p class="chat-item__name">
    {{ title }}
    </p>
    <p class="chat-item__message">
    {{ last_message }}
    </p>
  </div>
</div>
