<label for="{{ name }}" class="change-chat-avatar">
  <form class="change-chat-avatar__input-raw">
  {{{ inputFile }}}
  <label for="avatar" class="change-chat-avatar__input">Add file</label>
  {{{ buttonDiv }}}
  </form>
  <span
    class="change-chat-avatar__span change-chat-avatar__span_valid "
    id="avatar">
    {{errormessage}}
  </span>
</label>

