<div class="exit-button">
  {{{ link }}}
  <button 
    class="exit-button__button" 
    page="LoginPage">
    <img 
      class="exit-button__img{{#if next}} button__next{{/if}}" 
      page="LoginPage"
      src="/assets/exit-icon.png"
      alt="Icon for logout button"
    />
  </button>
</div>
