<form class="search-input{{#if className}} {{className}}{{/if}}">
  <input
    class="search-input__element"
    type="{{ type }}" 
    placeholder="Создать новый чат: впишите название" 
    name="title"
    id="new-chat-input">
  <button class="search-input__icon">+</button>
</form>
