{{#> Page }}
  <div class="error-page">
      {{> Title title="Common " span="chat" }}
      {{> ErrorField text="Error 404" }}
      {{> Link text="No such page. Sorry(" }}
      {{> Link page="login" link="Go back and try again"}}
      <img 
        src="/assets/left-pic.png" 
        class="error-page__img-left"
        alt="Some question signs"/>
      <img 
        src="/assets/right-pic.png" 
        class="error-page__img-right"
        alt="Some question signs"/>
      {{> Logo }}
  </div>
{{/ Page }}
