@import '../../assets/variables';

.error-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 68px;
  margin: 36px auto;
  padding: 10px 36px;
  color: $dark-grey-color;
  background-color: $light-beige-color;
  border: 0;
  border-radius: 16px;

  @include shadow-inside;

  &__text {
    margin: 0 auto;
    color: $dark-grey-color;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
  }
}
