@import '../../assets/variables';

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 28px auto;
  color: $dark-grey-color;
  background-color: $green-color;
  border: 0;
  border-radius: 30px;
  cursor: pointer;

  @include shadow;

  &:hover {
    transition: 0.4s ease;

    @include shadow-small
  }

  &__disabled {
    box-shadow: none;
    cursor: auto;
    opacity: 0.7;

    &:hover {
      box-shadow: none;
      transition: 0.6s;
    }
  }

  &__text {
    margin: 0 auto;
    color: $dark-grey-color;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  &__img {
    width: 40px;
    height: 40px;

    @include shadow-inside;
    border-radius: 50%;
  }

  &__next {
    background:url("/assets/next.png");
    background-size: cover;
    border-radius: 50%;
  }

  &__login {
    &_disabled {
      box-shadow: none;
      cursor: auto;
      opacity: 0.7;
  
      &:hover {
        box-shadow: none;
        transition: 0.6s;
      }
    }
  }

  &__register {
    &_disabled {
      box-shadow: none;
      cursor: auto;
      opacity: 0.7;
  
      &:hover {
        box-shadow: none;
        transition: 0.6s;
      }
    }
  }

  &__profile {
    &_disabled {
      box-shadow: none;
      cursor: auto;
      opacity: 0.7;
  
      &:hover {
        box-shadow: none;
        transition: 0.6s;
      }
    }
  }
}
