@import '../../assets/variables';

.big-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center flex-start;
  gap: 12px;
  min-width: 880px;
  margin: 20px 0 0;

    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      & .title {
        width: 240px;
      }

      & .header__logo {
        width: 72px;
        height: 72px;
      }

      & .avatar {
        width: 72px;
        height: 72px;
      }

      & a {
        font-size: 22px;
      }
    }
}
