<button class="delete-user-button">
  <img 
    class="delete-user-button__delete" 
    src="/assets/delete-icon.png"
    alt="Icon with garbage busket icon to delete user from chat"
    id="{{id}}"/>
</button>
