<div 
  class="interlocutor-item">
  {{#if avatar}}
  <img 
    class="interlocutor-item__avatar" 
    src="/assets/avatar.png"
    alt="User avatar" />
  {{else }}
  <img 
    class="interlocutor-item__avatar" 
    src="/assets/no-avatar-icon.png"
    alt="Icon with question sign for users withour avatar pictures"/>
  {{/if}}
  <p class="interlocutor-item__name">
    {{ name }}
  </p>
  {{{ adduserinput }}}
  {{{ deletechatbutton}}}

</div>
