@import '../../assets/variables';

.message-input {
  position: relative;

  &__element {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    height: 46px;
    min-height: 50px;
    padding: 6px 20px;
    color: $dark-grey-color;
    background-color: #ffffff;
    border: none;
    border-radius: 30px 30px 0;

    @include shadow-inside;

    &:focus-visible {
      border: 2px solid $dark-green-color;
      outline: none;
      outline-offset: 0;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    bottom: 4px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background:url("/assets/send-icon.png");
    background-size: cover;
    border-radius: 50%;
    border: none;
    @include shadow-small-hovered;
    /*@include shadow-small;*/
   

    &:hover {
      @include shadow-inside;
      
    }
  }
}
