@import '../../assets/variables';

body {
  margin: 0;
  background: $light-grey-color;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  background: $light-grey-color;
}

.login-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 360px;
  margin-top: 80px;
  padding: 32px 54px;
  background-color: $light-grey-color;
  border-radius: 16px;

  @include shadow;

  & button {
    width: 70%;
  }

  &__span {
    margin: 2px 0 8px 0;
    color: $pink-accent-color;
    font-size: 12px;
    text-align: center;

    &_invalid {
      display: none;
    }

    &_valid {
      display: block;
    }
  }
}
