<form class="chat-avatar-input">
  <label for="change-chat-avatar" class="chat-avatar-input__input">Add file</label>
  <input
    class="chat-avatar-input__element"
    placeholder="Add user" 
    name="title"
    id="change-chat-avatar"
    type="file">
  <button 
    class="chat-avatar-input__icon"
    id='chat-avatar-button'>
    +
  </button>
</form>
