<div class="message-item {{#if toMe}}message-item__not-my-message{{/if}}">
  <p class="message-item__time-text">
    {{ time }}
  </p>
  <p class="message-item__message-text">
    {{ text }}
  </p>
</div>
