@import '../../assets/variables';

body {
  margin: 0;
  background: $light-grey-color;
}
.page {
  background: $light-grey-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}

.register-page {
  width: 360px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 54px;
  background-color: $light-grey-color;
  border-radius: 16px;
  margin-top: 80px;
  @include shadow;
}
