<form class="add-user-input{{#if className}} {{className}}{{/if}}">
  <input
    class="add-user-input__element"
    placeholder="Add user" 
    name="title"
    id="add-user-input">
  <button class="add-user-input__icon">+</button>
</form>
