@import '../../assets/variables';

.input-profile {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: 44px;
  margin-top: 16px;
  padding: 4px 14px;
  color: $dark-grey-color;
  background-color: $light-beige-color;
  border: none;
  border-radius: 16px;

  @include shadow-inside;

  &:focus-visible {
    border: 2px solid $dark-green-color;
    outline: none;
    outline-offset: 0;
  }

  &__invalid {
    border: 1px solid $pink-accent-color;

    &:focus-visible {
      border: 1px solid $pink-accent-color;
    }
  }
}
