@import '../../assets/variables';

body {
  margin: 0;
  background: $light-grey-color;
}
.page {
  background: $light-grey-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}

.profile-page {
  width: 460px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 34px;
  background-color: $light-grey-color;
  border-radius: 16px;
  @include shadow;

  &__top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  &__logout-button {
    background:url(/src/assets/left-pic.png);
    height: 80px;
    width: 80px;
    @include shadow-inside;
    border-radius: 50%;
    background-size: cover;
    flex-shrink: 0;
  }
}

.big-header {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  margin: 20px 0 0;
  gap: 12px;
  justify-content: space-between;
  min-width: 880px;

    & div {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;

      & .title {
        width: 240px;
      }

      & .header__logo {
        width: 72px;
        height: 72px;
      }

      & .avatar {
        width: 72px;
        height: 72px;
      }

      & a {
        font-size: 22px;
      }
    }
}
